<%= form_tag root_path, :method => "get", id: "search-form", :class => "form-horizontal project" , :enforce_utf8 => false do %>      
  <div  class='col-sm-8 gutter-0'>
    <% obj.each do |article| %> 
      <div class="form-group">
        <% if params[:oneuser] == "Y" %>
        	<% if !article.xonline? %>
            <%= "[DRAFT COPY]" %><br>
          <% else %>
            <%= "[LIVE]" %><br>
          <% end %>
        <% end %>
      	<div class="col-sm-3">
          <% article.images.each do |t| %>
            <% if t.picture.url %>
              <%= image_tag t.picture.url, size: "150x100" %>
            <% else %>
              xx<%= image_tag url('images/noimage.gif'), size: "150x100" %>xx
            <% end %>
            <% break %>
          <% end %>
          <% if !article.images.present? %>
            <%= image_tag("noimage.gif") %>
          <% end %>
      	</div>

        <div class="article-title col-sm-9">
          <%#= article.category %> <%#= article.proptype%>
          <% if article.xonline? %>
            <%= link_to article.title, article_path(article,:param1 => "1", :param2 => "value2") %>         
          <%else %>
            <%= link_to article.title, article_path(article,:param1 => "1", :param2 => "value2") %><%= " - [OFFLINE]" %> 
          <% end %>
        </div>
        <div class="col-sm-9">
          <%= truncate(article.description, length: 80) %>
        </div>
        
        <div class="font-green col-sm-5">
          <% @place = Place.find(article.currency) if article.currency.present? %>
          <%= @place.currency if @place.present? %> <%= number_with_precision(article.amount, precision: 0, delimiter: ',') %>
        </div>
        <div align="right" class="font-green col-sm-4">
          <%= article.created_at.to_formatted_s(:short) %>
        </div>
          
        <div class="col-sm-9">
          <% if current_user %>
            <%# if current_user && current_user == article.user || current_user.admin? %>
            <% if current_user.admin? or params[:oneuser] == "Y" %>
                <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
              <%# end %>
              <%= link_to "Delete this article", article_path(article), method: :delete,
              data: { confirm: "Are you sure you want to delete the article?"},
              class: "btn btn-xs btn-danger" %>
            <% end %>
          <% end %>  
        </div>
      </div><hr>
    <% end %>
	</div>
<!--
	<div class='control-label col-sm-offset-0 col-sm-4'>
	  <div class="bg250x400">.</div>
    <div class="bg250x300">.</div>
	  <div class="bg250x200">.</div>
    <div class="bg250x100">.</div>
	</div>-->
	
  <div class="row">
    <div class="col-xs-4 gutter-0" align="center">
      <%= image_tag("500x1000.gif", width: 240) %>
      <h4><%= "Advertising" %></h4>
    </div>
    <div class="col-xs-4 gutter-0" align="center"><br><br>
      <h2><b>Where now?</b></h2>
      <h4><b>Found this useful? Share it:</b></h4><br>
      <%= link_to image_tag("facebook.gif"), "https://www.facebook.com/sharer.php?u=http://www.http://sssssb.comy/" %>&nbsp;&nbsp;
      <%= link_to image_tag("twitter.gif"), "https://twitter.com/login?redirect_after_login=%2Fhome%3Fstatus%3DCurrently%2520reading%2520http%3A%2F%2Fwww.srsp.edu.my" %>&nbsp;&nbsp;
      <%= link_to image_tag("google.gif"), "https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/share?url%3Dhttp://www.sssssb.com%26gpsrc%3Dgplp0&btmpl=popup#identifier" %>&nbsp;&nbsp;
      <%= image_tag("whatsapp.gif") %>
    </div>
  </div>	
	
	
	
<% end %>	


