<%= render 'shared/errors', obj: @article %>

<div class='row'> 
  <div class='col-xs-12'>
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %> 
    
      <div class="form-group"> 
        <div class="control-label col-sm-2">
          <%="Location"%> 
        </div> 
        <div class="col-sm-2"> 
          <%#= select("place", "name", options_for_select(@places_for_dropdown, :selected => @article.place), {prompt: 'Select Country'}, {class: 'form-control'}) %>
          <%= select("place", "name", options_for_select(@places_for_dropdown, @article.place || current_user.prefercountry), {prompt: 'Select Country'}, {class: 'form-control'}) %>
        </div> 
        <div class="col-sm-2"> 
          <%= select("region", "name", options_for_select(@regions_for_dropdown, :selected => @article.region), {prompt: 'Select Region'}, {class: 'form-control'}) %>
        </div> 
        <div class="col-sm-2"> 
          <%= select("area", "name", options_for_select(@areas_for_dropdown, :selected => @article.area), {prompt: 'Select Area'}, {class: 'form-control'}) %>
        </div> 
      </div>    

      <div class="form-group"> 
        <div class="control-label col-sm-2"> 
          <%= "Property" %> 
        </div> 
        <div class=" col-sm-8">
          <%= f.select :category, [['Apartment','Apartment'],['House','House'],['Commercial Property','Commercial Property'],['Land','Land'],['Room','Room'],['New Property','New Property']], {}, { class: "form-control" } %>
          <!--  
          <select class="form-control" name="article[category]" id="category">
            <option value="">--- Select Category ---</option>
            <option value="Apartment">Apartment</option>
            <option value="House">House</option>
            <option value="Commercial Property">Commercial Property</option>
            <option value="Land">Land</option>
            <option value="Room">Room</option>
            <option value="New Property">New Property</option>            
          </select> -->
        </div> 
      </div> 
      <div class="form-group"> 
        <div class="control-label col-sm-2"> 
          <%= "Type" %> 
        </div> 
        <div class="checkbox col-sm-8"> 
            <!-- <%#= f.radio_button :proptype, 'for Sale', :checked => (params[:param1] == "new" if params[:param1])  %> For Sale&nbsp;&nbsp;&nbsp; -->
            <%= f.radio_button :proptype, 'for Sale', :checked => (params[:param1] == "new"  || @article.proptype == "for Sale" )  %> For Sale&nbsp;&nbsp;&nbsp;
            <!-- <%#= f.radio_button :proptype, 'for Sale' %> For Sale&nbsp;&nbsp;&nbsp; -->
            <%= f.radio_button :proptype, 'for Rent' %> For Rent&nbsp;&nbsp;&nbsp;
            <%= f.radio_button :proptype, 'for Auction' %> For Auction&nbsp;&nbsp;&nbsp;
        </div> 
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2"> 
          <%= "Rooms" %> 
        </div> 
        <div class=" col-sm-1">
          <%= f.select :bedroom, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10']], {}, { class: "form-control" } %>
        </div>
        <div class="control-label col-sm-1"> 
          <%= "Baths" %> 
        </div> 
        <div class=" col-sm-1">
          <%= f.select :bathroom, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10']], {}, { class: "form-control" } %>
        </div>
      </div> 
      <div class="form-group">
        <div class="control-label col-sm-2"> 
          <%= "Size" %> 
        </div> 
        <div class=" col-sm-2">
          <%= f.number_field :size, :step => 2, class: "form-control", placeholder: "Size", :value => (number_with_precision(f.object.size, :precision => 0) ) %> 
        </div>                 
        <div class=" col-sm-2">
          <%= f.select :uom, options_for_select([['Sqft','1'],['Sqm','2'],['Acre(s)','3'],['Hectre(s)','4']], @article.uom || current_user.preferuom), {}, { class: "form-control" } %>
        </div>
      </div> 
      <div class="form-group">
        <div class="control-label col-sm-2"> 
          <%= "Amount" %> 
        </div> 
        <div class=" col-sm-2">
          <%= f.number_field :amount, class: "form-control", placeholder: "Amount" , :value => (number_with_precision(f.object.amount, :precision => 0))%> 
        </div>                 
        <div class=" col-sm-2">
          <%#= f.collection_select(:prefercountry, Place.where(status: true), :id, :name, {}, {:class => 'form-control'}) %>
          <%#= f.collection_select(:currency, Place.where(status: true), :id, :currency, {:selected => current_user.prefercountry}) %>
          <%= f.collection_select(:currency, Place.where(status: true), :id, :currency, {:selected => current_user.prefercountry}, {:class => 'form-control'} ) %>
        </div>
      </div>       
      <div class="form-group"> 
        <div class="control-label col-sm-2"> 
          <%= "Ad Title" %> 
        </div> 
        <div class="col-sm-8"> 
          <%= f.text_field :title, class: "form-control", placeholder: "Title of Ad", autofocus: true %> 
        </div> 
      </div> 
      <div class="form-group"> 
        <div class="control-label col-sm-2"> 
          <%= "Description" %> 
        </div> 
        <div class="col-sm-8"> 
          <%= f.text_area :description, rows: 5, class: "form-control", placeholder: "Body of Ad" %> 
        </div> 
      </div> 
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10"> 
          <%= f.submit class: 'btn btn-primary btn-lg' %> 
        </div> 
      </div> 
    <% end %> 
    <div class="col-xs-4 col-xs-offset-4"> 
      [ <%= link_to "Cancel request and return to Ads List", articles_path %> ] 
    </div> 
  </div> 
</div>