<%= render 'shared/errors', obj: @article %>

<div class='row'> 
  <div class='col-sm-offset-1 col-xs-10'>
    <div class="well well-lg">
      <%#= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %> 
      <%#= form_for(@article, :html => {:multipart => true, class: "form-horizontal", role: "form"}) do |f| %> 
      <%= form_for @article, :html => {:multipart => true,  :class => "form-horizontal project" } do |f| %>

        <div class="form-group"> 
          <div class="control-label col-sm-2">
            <%="Location"%> 
          </div> 
          <div class="col-sm-3"> 
            <%#= select("place", "name", options_for_select(@places_for_dropdown, :selected => @article.place), {prompt: 'Select Country'}, {class: 'form-control'}) %>
            <%= select("place", "name", options_for_select(@places_for_dropdown, @article.place || current_user.prefercountry), {prompt: 'Select Country'}, {class: 'form-control'}) %>
          </div> 
          <div class="col-sm-3"> 
            <%= select("region", "name", options_for_select(@regions_for_dropdown, :selected => @article.region), {prompt: 'Select Region'}, {class: 'form-control'}) %>
          </div> 
          <div class="col-sm-3"> 
            <%= select("area", "name", options_for_select(@areas_for_dropdown, :selected => @article.area), {prompt: 'Select Area'}, {class: 'form-control'}) %>
          </div> 
        </div>    
  
        <div class="form-group"> 
          <div class="control-label col-sm-2"> 
            <%= "Property" %> 
          </div> 
          <div class=" col-sm-3">
            <%= f.select :category, [['Apartment','Apartment'],['House','House'],['Commercial Property','Commercial Property'],['Land','Land'],['Room','Room'],['New Property','New Property']], {}, { class: "form-control" } %>
            <!--  
            <select class="form-control" name="article[category]" id="category">
              <option value="">--- Select Category ---</option>
              <option value="Apartment">Apartment</option>
              <option value="House">House</option>
              <option value="Commercial Property">Commercial Property</option>
              <option value="Land">Land</option>
              <option value="Room">Room</option>
              <option value="New Property">New Property</option>            
            </select> -->
          </div> 
        </div> 
        <div class="form-group"> 
          <div class="control-label col-sm-2"> 
            <%= "Type" %> 
          </div> 
          <div class="checkbox col-sm-8"> 
              <!-- <%#= f.radio_button :proptype, 'for Sale', :checked => (params[:param1] == "new" if params[:param1])  %> For Sale&nbsp;&nbsp;&nbsp; -->
              <%= f.radio_button :proptype, 'for Sale', :checked => (params[:param1] == "new"  || @article.proptype == "for Sale" )  %> For Sale&nbsp;&nbsp;&nbsp;
              <!-- <%#= f.radio_button :proptype, 'for Sale' %> For Sale&nbsp;&nbsp;&nbsp; -->
              <%= f.radio_button :proptype, 'for Rent' %> For Rent&nbsp;&nbsp;&nbsp;
              <%= f.radio_button :proptype, 'for Auction' %> For Auction&nbsp;&nbsp;&nbsp;
          </div> 
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2"> 
            <%= "Rooms" %> 
          </div> 
          <div class=" col-sm-2">
            <%= f.select :bedroom, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10']], {}, { class: "form-control" } %>
          </div>
          <div class="control-label col-sm-1"> 
            <%= "Baths" %> 
          </div> 
          <div class=" col-sm-2">
            <%= f.select :bathroom, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10']], {}, { class: "form-control" } %>
          </div>
        </div> 
        <div class="form-group">
          <div class="control-label col-sm-2"> 
            <%= "Size" %> 
          </div> 
          <div class=" col-sm-2">
            <%= f.number_field :size, :step => 2, class: "form-control", placeholder: "Size", :value => (number_with_precision(f.object.size, :precision => 0) ) %> 
          </div>                 
          <div class=" col-sm-2">
            <%= f.select :uom, options_for_select([['Sqft','1'],['Sqm','2'],['Acre(s)','3'],['Hectre(s)','4']], @article.uom || current_user.preferuom), {}, { class: "form-control" } %>
          </div>
        </div> 
        <div class="form-group">
          <div class="control-label col-sm-2"> 
            <%= "Other Info" %> 
          </div> 
          <div class="col-sm-4"> 
            <%= select("otherinfo", "name", options_for_select(@otherinfos_for_dropdown, :selected => @article.otherinfo), {prompt: '-- Other info, if any --'}, {class: 'form-control'}) %>
          </div> 
        </div>  
        <div class="form-group">
          <div class="control-label col-sm-2"> 
            <%= "Facilities" %> 
          </div> 
          <div class="checkbox col-sm-offset-1 col-sm-2">
            <%= f.check_box :xlift  %><%= 'Lift/ Elevator'%>
          </div> 
          <div class="checkbox col-sm-2">
            <%= f.check_box :xpool %><%= 'Swimming Pool'%>          
          </div>   
          <div class="checkbox col-sm-2">
            <%= f.check_box :xsqua %><%= 'Squash Court'%>          
          </div>
        </div>       
        <div class="form-group">
          <div class="control-label col-sm-2"> 
            <%= "" %> 
          </div> 
          <div class="checkbox col-sm-offset-1 col-sm-2">
            <%= f.check_box :xplay %><%= 'Playground'%>
          </div> 
          <div class="checkbox col-sm-2">
            <%= f.check_box :xbalc %><%= 'Balcony'%>          
          </div>   
          <div class="checkbox col-sm-2">
            <%= f.check_box :xgymn %><%= 'Gymnasium'%>          
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2"> 
            <%= "" %> 
          </div> 
          <div class="checkbox col-sm-offset-1 col-sm-2">
            <%= f.check_box :xmini %><%= 'Mini Market'%>
          </div> 
          <div class="checkbox col-sm-2">
            <%= f.check_box :xjogg %><%= 'Jogging Track'%>          
          </div>   
          <div class="checkbox col-sm-2">
            <%= f.check_box :xcabl %><%= 'Cable TV'%>          
          </div>
        </div>        
        <div class="form-group">
          <div class="control-label col-sm-2"> 
            <%= "" %> 
          </div> 
          <div class="checkbox col-sm-offset-1 col-sm-2">
            <%= f.check_box :xtenn %><%= 'Tennis Court'%>
          </div> 
          <div class="checkbox col-sm-2">
            <%= f.check_box :xpark %><%= 'Covered Car Park'%>          
          </div>   
          <div class="checkbox col-sm-2">
            <%= f.check_box :xsecu %><%= '24 hours Security'%>          
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2"> 
            <%= "Amount" %> 
          </div> 
          <div class=" col-sm-2">
            <%= f.number_field :amount, class: "form-control", placeholder: "Amount" , :value => (number_with_precision(f.object.amount, :precision => 0))%> 
          </div>                 
          <div class=" col-sm-2">
            <%#= f.collection_select(:prefercountry, Place.where(status: true), :id, :name, {}, {:class => 'form-control'}) %>
            <%#= f.collection_select(:currency, Place.where(status: true), :id, :currency, {:selected => current_user.prefercountry}) %>
            <%= f.collection_select(:currency, Place.where(status: true), :id, :currency, {:selected => current_user.prefercountry}, {:class => 'form-control'} ) %>
          </div>
        </div>       
        <div class="form-group"> 
          <div class="control-label col-sm-2"> 
            <%= "Ad Title" %> 
          </div> 
          <div class="col-sm-8"> 
            <%= f.text_field :title, class: "form-control", placeholder: "Title of Ad" %> 
          </div> 
        </div> 
        <div class="form-group"> 
          <div class="control-label col-sm-2"> 
            <%= "Description" %> 
          </div> 
          <div class="col-sm-8"> 
            <%= f.text_area :description, rows: 5, class: "form-control", placeholder: "Body of Ad" %> 
          </div> 
        </div> 
        <%= render 'ximage' %>
        <!--
        <div class="form-group">
          <%#= f.fields_for :images, @article.images do |f_screenshot| %>
            <%#= f_screenshot.label :picture, :class => 'col-sm-2 control-label' do %>
              Images
            <%# end %>
            <div class="col-sm-10">
              <%#= f_screenshot.file_field :picture, multiple: true, :name=>'article[images_attributes][][picture]', :class => 'form-control' %>
            </div>
          <%# end %>
        </div>  -->
        <div class="form-actions">
            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      articles_path, :class => 'btn btn-default' %>
        </div>
      <% end %> 
    </div>
  </div> 
</div>