<% if session[:mobile] == "Y" %>
  <div class='col-xs-offset-0 col-xs-12 gutter-0'>
    <% if params[:param1] == 'confirm' %>
      <h4>&nbsp;Insert New Ad - Step 2 </h4>   
    <% else %>
      <h4>&nbsp;Modify Existing Ad - Id: <%= @article.id %></h4>
    <% end %>
  </div>
  <%= render 'mmform' %>
  <a id="images"></a>
  <% current_article = @article.id %>
  <% session[:current_article] = current_article %>
  <%= render :partial => 'images/mmform', :object => @image %>
  <br><br><br><br>
<% else %>
  <div class='row'> 
    <div class='col-sm-offset-0 col-xs-12'>
      <div class="well well-lg">
        <h4 align="center">Modify Existing Ad</h4>
        <%= render 'form' %>
        <br><a id="images"></a><br>
        <% current_article = @article.id %>
        <% session[:current_article] = current_article %>
        <%= render :partial => 'images/form', :object => @image %>
      </div>
    </div>
  </div>  
<% end %>