<% if session[:mobile] == "Y" %>
  <%= render 'mmonearticle' %>
<% else %>
  <%= render 'onearticle' %>
  <% params[:oneuser] = "Y" %>
  <div class='gutter-0 col-xs-12 article-title'>
    <br>Other Ads from <%= @article.user.name %><hr><br>
  </div>
  <%= render 'article', obj: @articles %>
  <div align="left">
    <%= will_paginate %>
  </div>
<% end %>
