<% if session[:mobile] == "Y" %>
  <%= render 'mmonearticle' %>
<% else %>
  <%= render 'onearticle' %>
  <% params[:oneuser] = "Y" %>
  <br><h3>Another <%=pluralize(@article.user.articles.count, "listing")%> under <%= @article.user.name %>...</h3><br>
  <%= render 'article', obj: @articles %>
  <div align="left">
    <%= will_paginate %>
  </div>
<% end %>
