<div class='row'> 
  <div class='col-sm-offset-1 col-xs-10'>
    <div class="well well-lg">
      <h4 align="center">Users Listing</h1>
      <%= will_paginate %>
      <table class="table table-striped">
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to gravatar_for(user), user_path(user) %>
            </td>
            <td>
              <%= user.email %>
              <li><small><%= link_to pluralize(user.articles.count, "article"), user_path(user) if user.articles %></small></li>
               <% if logged_in? and current_user.admin? %>
                  <br><%= link_to "Delete this user", user_path(user), method: :delete,
                  data: { confirm: "Are you sure you want to delete the user and all their articles?" } %>&nbsp;|
                  <%= link_to "Update this user", edit_user_path(user) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate %>
    </div>
  </div>
</div>