<div class='row'> 
  <div class='col-sm-offset-0 col-xs-12'>
    <div class="well well-lg">
      <h4 align="center">My Ads (<%= current_user.articles.count %> of <%= session[:m_posting] %>)</h4>
      <div align="center">
        <%= will_paginate @articles %>
      </div>
      <%= render 'articles/article', obj: @articles %>
      <div align="center">
        <%= will_paginate @articles %>
      </div>
    </div>
  </div>
</div>  