<div class="row">
  <div class="col-xs-12 col-xs-offset-2">
    <div ><br>
      <%= form_for(@place) do |f| %>
        <div class="control-label col-sm-2">  
          <%= f.text_field :name, placeholder: "Country name" %>
        </div>
        <div class="control-label col-sm-2">  
          <%= f.text_field :currency, placeholder: "USD?" %>
        </div>
        <div class="control-label col-sm-2">  
          <%= "Online?" %>
          <%= f.radio_button :status, 'true' %> Yes&nbsp;
          <%= f.radio_button :status, 'false' %> No
        </div>

        <div class="col-sm-offset-0 col-sm-1"> 
          <%= f.submit %> 
        </div> <br><br>
      <% end %>
    </div>
  </div>
</div>